

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body { height: 100%; }

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f8f9fa;
  }














